body {
    display: block;
    text-align: center;
    font-size: larger;
}

label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    padding-right: 1%;
    
}

h1 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    background-color: rgb(243, 193, 223);
    text-align: center;
    padding: 20px;
    font-weight: bolder;
}

button {
    color: rgb(63, 47, 59);
    background-color: grey;
   
}

input{
    padding: 9px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

*{
    background-color: rgb(204, 151, 197);
}

